body {
    margin: 0%;
    font-family: 'Exo2';
}
header {
    background-color: #1d1d1d;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    border-bottom: 0.2vw solid white; 
    height: 15vw;
}
header img {
    width: 8vw;
    transform: scale(0.8);
    cursor: pointer;
}
header .links {
    height: 15vw;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link {
    cursor: pointer;
    user-select: none;
    margin: 0%;
    height: 9vw;
}
.promo {
    width:100%;
    background-color: #1d1d1d;
    height: 100vw;
    display: flex;
    flex-direction: column-reverse;
}
.promo-text {
    width: 70%;
}
.promo-img img {
    height: 60vw;
    position: absolute;
    bottom: 0;
}
.promo-img {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 50%;
}
.promo h2{
    color: white;
    font-size: 6vw;
    text-align: center;
}
.promo p {
    color: white;
    font-size: 4vw;
    text-align: center;
}
.content {
    width: 95%;
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content-img {
    height: 45%;
    width: 45%;
    overflow: hidden;
    position: relative;
}
.content-img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.content-img p {
    position: absolute;
    font-size: 2.8vmax;
    bottom:0;
    margin: 0%;
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.685);
    color: rgba(255, 255, 255, 0.76);
    text-align: center;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h2 {
    width:80%;
}
footer {
    background-color: #1d1d1d;
    height: 150vw;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.footer-block {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40%;
    margin-left: 8%;
    height: 8vw;
    font-size: 4.5vw;
    color: rgba(255, 255, 255, 0.89);
    font-family: Arial, sans-serif;
}
.footer-block h4 {
    margin: 0%;
    margin-top: 4%;
    cursor: pointer;
}
.footer-block a {
    cursor: pointer;
    margin-top: 5%;
}
.video video {
    width: 90%;
    margin: 1%;
}
.video {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.video form p {
    font-size: 4vmax;
    width: 90%;
}
.video form {
    width: 80%;
}
.video input {
    border:none;
    border-bottom-color: rgba(0, 0, 0, 0.185);
    border-bottom-width: 0.4vmax;
    border-bottom-style: solid;
    width: 90%;
    font-size: 3vmax;
    outline: none;
    height: 4vmax;
    padding-left: 0.6vmax;
    margin-left: 1%;
}
.video .submit {
    margin-top: 3vmax;
    border:none;
    width: 100%;
    border-radius: 0.5vmax;
    outline: none;
    height: 5vmax;
    background-color: #1d1d1d;
    font-family: 'Exo2';
    font-size: 2.5vmax;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.video .flex {
    display: flex;
    flex-direction: column;
}
.video .check {
    width: 1vmax;
}