body {
  background-color: #f0f0f0;
  margin: 0%;
  font-family: 'Roboto', sans-serif;
  font-size: 1vmax;
}

a {
  display: block;
  text-decoration: none;
}

header {
  background-color: #1d1d1d;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  height: 3vw;
}

header img {
  width: 3vw;
  transform: scale(0.8);
  cursor: pointer;
}

header .links {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.catalog-items {
  padding: 0% 1vmax;
}

.catalog div {
  margin: 0.5vmax 0;
}

.link img {
  width: 1.5vmax;
}

.catalog-container {
  background-color: white;
  width: 15%;
  height: 20vmax;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  box-shadow: 0 0 1vmax rgba(0, 0, 0, 0.123);
}

.catalog-search {
  outline: none;
  font-size: 1vmax;
  height: 2vmax;
  width: 100%;
  border-radius: 0.2vmax;
  padding: 0 1%;
}

footer {
  background-color: #1d1d1d;
  height: 18vw;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer-block {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 14%;
  margin-left: 5%;
  height: 8vw;
  font-size: 1vw;
  color: white;
}

.footer-block h4 {
  margin: 4% 0;
  cursor: pointer;
  font-size: 1.5vmax;
  font-weight: 500;
}

.footer-block a {
  cursor: pointer;
}

.product-container {
  width: 100%;
  display: flex;
  margin: 1%;
  font-size: 1vmax;
}

.product-container-name {
  margin-left: 1vmax;
  font-size: 1.5vmax;
}

main {
  width: 80%;
}

.product-item {
  width: 23%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.product-item .item-description {
  padding: 0 5%;
}

.product-item img {
  width: 80%;
}

.add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3vmax;
  color: rgb(255, 255, 255);
  background-color: #1d1d1d;
  margin-top: 0.5vmax;
  cursor: pointer;
}

.add-cart:hover {
  opacity: 0.8;
}

.not-available {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3vmax;
  color: rgb(255, 41, 41);
  background-color: #1d1d1d;
  margin-top: 0.5vmax;
  cursor: pointer;
}

.content {
  display: flex;
}
.link:after {
  margin-left: 0.5vw;
}
.logo {
  background-image: url('../images/logo.png');
  background-size: 2vmax 2vmax;
  width: 2vmax;
  height: 2vmax;
}
.link:nth-child(2):after {
  content: "";
  background-image: url('../images/Comparison.png');
  background-size: 1.2vmax 1.2vmax;
  width: 1.2vmax;
  height: 1.2vmax;
}

.link:nth-child(3):after {
  content: "";
  background-image: url('../images/favorite.png');
  background-size: 1.2vmax 1.2vmax;
  width: 1.2vmax;
  height: 1.2vmax;
}

.link:nth-child(4):after {
  content: "";
  background-image: url('../images/cart.png');
  background-size: 1.2vmax 1.2vmax;
  width: 1.2vmax;
  height: 1.2vmax;
}

.product-page {
  width: 100%;
  height: 30vmax;
  margin: 1vmax 0;
  display: flex;
  background-color: white;
  font-size: 1.5vmax;
}

.product-name {
  font-size: 2vmax;
}

.product-page img {
  width: 35%;
  height: 95%;
}

.product-page .price {
  margin-top: 2vmax;
  font-size: 1.5vmax;
  display: flex;
  align-items: center;
}

.product-page .information {
  height: 29vmax;
  margin-top: 1vmax;
}

.product-page .add-cart {
  width: 30%;
  font-size: 1.5vmax;
  margin: 0;
  margin-left: 2%;
}

.product-page .description {
  margin-top: 1vmax;
  font-size: 1.2vmax;
}

.product-page .description strong {
  font-size: 1.5vmax;
}

.product-page .rating {
  margin-top: 1vmax;
}
