body {
  margin: 0%;
  transition-duration: .5s;
}
.calendar {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.month {
  font-weight: 200;
}
.month b {
  font-weight: 700;
}
.day-row {
  display: flex;
  justify-content: center;
}
.day-column {
  width: 13%;
}
.day {
  margin: 0%;
  height: 6vmax;
  transform: scale(1);
  border-right: 0.1vmax solid rgb(197, 197, 197);
  border-bottom: 0.1vmax solid rgb(197, 197, 197);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  font-size: 2vmax;
  padding-right: 10%;
  color: black;
  transition-duration: .5s;
}
.night .day {
  color: white;
  border-right: 0.1vmax solid rgb(131, 131, 131);
  border-bottom: 0.1vmax solid rgb(131, 131, 131);
}
.weekend .day {
  background-color: rgb(214, 214, 214);
}
.night .weekend .day {
  background-color: rgb(26, 26, 26);
}
.day.out {
  opacity: 0.5;
}
.weekend .out {
  background:none;
}
.night .weekend .out {
  background:none;
}
.night .day.out{
  opacity: 0.2;
}
.day-name {
  width: 13%;
  font-size: 2vmax;
  margin: 0%;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 5%;
}
.top p {
  font-size: 5vmin;
  font-weight: 200;
}
.night {
  background-color: rgb(15, 15, 15);
  color:white;
}
.holiday {
  font-size: 1.4vmax;
  color: rgb(255, 36, 36);
  text-align: center;
  margin: 0%;
  margin-top: 5%;
}
.point {
  width: 2.4vmax;
  height: 2.4vmax;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 36, 36);
  border-radius: 50%;
}
.top label div {
  cursor: pointer;
  height: 7vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
#theme {
  display: none;
}
.check {
  width: 3.5%;
  transition-duration: .5s;
  position: absolute;
  user-select: none;
}
.check.none {
  transform: scale(0.9);
  opacity: 0;
}