body {
  margin: 0;
  padding: 0 !important;
  mso-line-height-rule: exactly;
  background-color: #f1f1f1;
  width: 100%;
}


/* What it does: Stops email clients resizing small text. */

* {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


/* What it does: Centers email on Android 4.4 */

div[style*="margin: 16px 0"] {
  margin: 0 !important;
}


/* What it does: Stops Outlook from adding extra spacing to tables. */

table,
td {
  mso-table-lspace: 0pt !important;
  mso-table-rspace: 0pt !important;
}


/* What it does: Fixes webkit padding issue. */

table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  table-layout: fixed !important;
  margin: 0 auto !important;
}


/* What it does: Uses a better rendering method when resizing images in IE. */

img {
  -ms-interpolation-mode: bicubic;
}


/* What it does: Prevents Windows 10 Mail from underlining links despite inline CSS. Styles for underlined links should be inline. */

a {
  text-decoration: none;
}


/* What it does: A work-around for email clients meddling in triggered links. */

*[x-apple-data-detectors],

/* iOS */

.unstyle-auto-detected-links *,
.aBn {
  border-bottom: 0 !important;
  cursor: default !important;
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}


/* What it does: Prevents Gmail from displaying a download button on large, non-linked images. */

.a6S {
  display: none !important;
  opacity: 0.01 !important;
}


/* What it does: Prevents Gmail from changing the text color in conversation threads. */

.im {
  color: inherit !important;
}


/* If the above doesn't work, add a .g-img class to any image in question. */

img.g-img+div {
  display: none !important;
}


/* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */


/* Create one of these media queries for each additional viewport size you'd like to fix */


/* iPhone 4, 4S, 5, 5S, 5C, and 5SE */

@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  u~div .email-container {
    min-width: 320px !important;
  }
}


/* iPhone 6, 6S, 7, 8, and X */

@media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
  u~div .email-container {
    min-width: 375px !important;
  }
}


/* iPhone 6+, 7+, and 8+ */

@media only screen and (min-device-width: 414px) {
  u~div .email-container {
    min-width: 414px !important;
  }
}

.email-container {
  max-width: 600px;
  margin: 0 auto;
}

.logo-top {
  padding: 1em 2.5em 0 2.5em;
}

.primary {
  background: #17bebb;
}

.bg-white {
  background: #ffffff;
}

.bg-light {
  background: #f7fafa;
}

.bg-black {
  background: #000000;
}

.bg-dark {
  background: rgba(0, 0, 0, .8);
}

.email-section {
  padding: 2.5em;
}

.main {
  margin: auto;
  width: 100%;
  border: 0;
  border-spacing: 0;
  padding: 0;
}

.tb-decoration {
  width: 100%;
  border: 0;
  border-spacing: 0;
  padding: 0;
  vertical-align: top;
}

.messege {
  padding: 0 2.5em;
  text-align: left;
}


/*BUTTON*/

.btn-block {
  vertical-align: middle;
  text-align: center;
  padding: 1em 2.5em;
}

.btn {
  padding: 10px 15px;
  display: inline-block;
}

.btn.btn-primary {
  border-radius: 5px;
  background: #17bebb;
  color: #ffffff;
}

.btn.btn-white {
  border-radius: 5px;
  background: #ffffff;
  color: #000000;
}

.btn.btn-white-outline {
  border-radius: 5px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn.btn-black-outline {
  border-radius: 0px;
  background: transparent;
  border: 2px solid #000;
  color: #000;
  font-weight: 700;
}

.btn-custom {
  color: rgba(0, 0, 0, .3);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  color: #000000;
  margin-top: 0;
  font-weight: 400;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, .4);
}

a {
  color: #17bebb;
}

table {}


/*LOGO*/

.logo h1 {
  margin: 0;
  text-align: left;
}

.logo h1 a {
  color: #17bebb;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
}


/*HERO*/

.hero {
  position: relative;
  z-index: 0;
  padding: 2em 0 2em 0;
  vertical-align: middle;
}

.hero .text {
  color: rgba(0, 0, 0, .3);
}

.hero .text h2 {
  color: #000;
  font-size: 34px;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 1.2;
}

.hero .text h3 {
  font-size: 24px;
  font-weight: 200;
}

.hero .text h2 span {
  font-weight: 600;
  color: #000;
}


/*PRODUCT*/

.column-name {
  text-align: left;
  padding: 0 2.5em;
  color: #000;
  padding-bottom: 20px;
  width: 80%;
}

.column-name:nth-child(2) {
  width: 20%;
}

.product-entry {
  display: block;
  position: relative;
  float: left;
  padding-top: 20px;
}

.product-entry .text {
  width: calc(100% - 125px);
  padding-left: 20px;
}

.product-entry .text h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.product-entry .text p {
  margin-top: 0;
}

.product-entry img,
.product-entry .text {
  float: left;
}

ul.social {
  padding: 0;
}

ul.social li {
  display: inline-block;
  margin-right: 10px;
}

span.price {
  color: #000;
  font-size: 20px;
}

td.price {
  text-align: left;
  padding: 0 2.5em;
  vertical-align: middle;
}

img {
  width: 100px;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
  display: block;
}

tr.line {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}


/*FOOTER*/

.footer {
  border-top: 1px solid rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, .5);
}

.footer .heading {
  color: #000;
  font-size: 20px;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style: none;
  margin-bottom: 10px;
}

.footer ul li a {
  color: rgba(0, 0, 0, 1);
}