body {
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 3vmax;
}
.menu {
  height: 100px;
  margin-left: 0.5%;
}
.menu button {
  width: 200%;
  height: 6vmax;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vmax;
  outline:none;
  border:0;
  margin-bottom: 1vmax;
  margin-top: 0.5vmax;
  cursor: pointer;
  border-radius: 7px;
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  transition-duration: .3s;
}
.menu button:hover {
  background-color: rgb(214, 22, 22);
  transform: scale(1.02);
  border-radius: 5px;
}
iframe {
  width: 50%;
  height: 28vmax;
  border:0;
}
.comment-block {
  width:50%;
  height: 50vmax;
}
textarea {
  width: 70%;
  resize: none;
  height: 5vmax;
  border-color: rgb(178, 197, 209);
  border-width: 0.08vmax;
  border-style: solid;
  outline: none;
  background-color: aliceblue;
  border-radius: 7px;
}
.submit {
  border-color: rgba(46, 46, 46, 0.048);
  border-width: 0.1vmax;
  border-style: solid;
  width: 40%;
  outline-color: rgba(56, 56, 56, 0.164);
  height: 4vmax;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size: 1.6vmax;
  font-weight: 600;
  background-color: rgb(214, 22, 22);
  color: rgba(255, 255, 255, 0.945);
  transition-duration: .3s;
  cursor: pointer;
  margin-top: 2%;
  border-radius: 0.5vmax;
}
.submit:hover {
  background-color: rgb(109, 12, 12);
  color: rgba(255, 255, 255, 0.945);
}
input {
  border-color: rgb(178, 197, 209);
  border-width: 0.08vmax;
  border-style: solid;
  width: 70%;
  font-size: 1vmax;
  outline: none;
  height: 1.8vmax;
  background-color: aliceblue;
  border-radius: 7px;
}
.comment {
  width: 50%;
  background-color: rgb(216, 216, 216);
  padding:0 2%;
  border-radius: 0.5vmax;
}
.comment h4 {
  margin: 3% 0;
}
.comment p {
  margin-top:0;
}
.comment-id {
  display: block;
}
.comment-id-none {
  display: none;
}
.line {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.253);
}