body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  background-color: rgb(226, 226, 226);
}
.logo {
  height: 3.5vmax;
  margin-left: 1vmax;
}
.logo-container {
  width:20%;
  height: 4vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-container {
  width:20%;
  height: 4vmax;
  display: flex;
  align-items: center;
}
.basket {
  height: 2vmax;
}
header {
  display: flex;
  height: 4vmax;
  background-color: white;
  box-shadow: 0 0.5vmax 1vmax rgba(0, 0, 0, 0.089);
}
.menu {
  width: 20%;
  height: 30vmax;
}
